{% extends "base.html" %}
{% block editprofile %}
{% with message = get_flashed_messages() %}
{% if message %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  {{ message[0] }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}
<div class="container align-items-center my-5">
<h2 class="text-center">Edit profile</h2>
<form enctype="multipart/form-data" action={{ url_for('editprofile') }} method="POST">
  <div class="mb-3">
    



    <label for="exampleInputEmail1" class="form-label">Username (cannot edit)</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" value="{{ user.username }}" readonly>


    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="{{ user.email }}">

    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" value="{{ user.password }}">

    <label for="formFile" class="form-label">Profile pic</label>
    <input class="form-control" type="file" id="formFile" name="profile_pic">
    <div class="mb-3">
      

</div>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

